table {
text-align: center;
margin-left: auto;
margin-right: auto;
background-color: #fee4c3;
color: black;
border-top-left-radius: 25px;
border-top-right-radius: 25px;
border: 4px;
border-style: solid;
}
span {
background-color: #114fe1;
}
tfoot {
    font-weight: bold;
background-color: #11b4fe;
}